.accordion.bottom{
  position: absolute;
  bottom: 0;
  width: 100%
}

.espacio{
  margin: 2em;
}

.card.foot-menu{
  background-color: #4b4255;
  color:#F4EFEF;
  border-radius: 0;
  z-index: 2000;
}


.accordion > .card > .card-header {
    border-radius: 0;
    margin-bottom: -1px;
    margin: auto;
}

.card-body {
  text-align: left;
  padding: 1rem 1.25rem 0!important;
  font-family: 'Raleway', serif;
}
.text-triangle{
  color: #F4EFEF;
}

 .card-header.foot-menu {
    padding: 0rem 1.25rem;
  }

  .card-header {
      padding: 0!important;
}

button.btn.btn-link.btn-block.text-left.collapsed {
    padding: 0;
}

.footer-list{
  padding-bottom: 1em;
  line-height: 1.3;
  margin: auto;
  border-bottom: solid 1px;
}

.foot-link.principal{
  font-size: 1em;
  color: #F4EFEF;
  font-weight: 700;
  letter-spacing: .4px;
  text-decoration: underline;
}

img.foot-icon{
  width: 25px;
height: 25px;
margin-right: 4px;
display: inline-block;
background-color: #F4EFEF;
border-radius: 100%;
}

span.foot-title-cap{
  margin-top: 5px;
}
.foot-link.secundario{
  font-size: .8em;
  display: inline-flex;
  color: #F4EFEF;
  font-weight: 600;
  margin-left: .5rem;
}

.foot-link.secundario.capitulos{
padding-top: 1rem;
}
.foot-link.terciario{
  font-size: .7em;
  display: inline-flex;
  color: #F4EFEF;
  font-weight: 400;
  margin-left: .75rem;
}

.foot-capitulos {
}
.foot-explorar{
}
.col-md-3.col-12.foot-margin{
  margin-top: 2%;
}
.col-12.foot-right{
  padding-right: 0!important;
}

.credits{
  border-top: solid 1px #F4EFEF;
  color:#F4EFEF;
  width: 100%;
  padding-top: 1rem;
  text-align: center;
}


 @media screen and (max-width: 991px){
   .card-body {
     padding: 0.5em 0.5em 0!important;
 }
 .footer-list{
       margin-left: -5px!important;
 }
 }
 @media screen and (max-width: 767.9px){
 .foot-link.principal {
    font-size: .9em;
}

.col-md-3.col-12.col-foot {
padding: 1% 0 0 1%;
}

.row.footer-list {
    margin: auto!important;
    display: block!important;
}
}
