.bg-oscuro.explore{
  position: absolute;
  width: 100%;
  padding-bottom: 10%;
}

.title-explore{
    padding: 5% 2%;
}

.explorar-lista{
  margin-left: 5%;
}

.nav-pills .nav-link.explorar-pill{
  background-color: #739CBF;
  text-align: center;
  font-family: 'Lora', serif;
  font-weight: 700;
  letter-spacing: .5px;
  color: #180B26;
  margin: 2%;
}

.nav-pills .nav-link.explorar-pill.active{
  background-color: #F4EFEF;
}

.tab-pane.explorar-tab{
  height: 100vh;
}

.bg-descubrir{
  position: relative;
}

.descubrir-btn.tooltip{
  height: 2.5em;
  width:2.5em;
  border-radius: 100%;
  position: absolute;
  opacity: 1;
  z-index: 1;
}
.descubrir-btn.tooltip.dato, .tooltip .tooltiptext._dato{
  background-color: #F4EFEF;
  color: #180B26;
}

.descubrir-btn.tooltip.fuente, .tooltip .tooltiptext._fuente{
  background-color: #180B26;
}

.descubrir-btn.tooltip.pintura, .tooltip .tooltiptext._pintura{
  background-color: #8B3E34;
}

.leyenda{
  display: inline-flex;
  padding-top: 1%;
  padding-right: 5%;
  padding-bottom: 2%;
}


.icono-exp.dato1{
  background-color: #F4EFEF;
  height: 2.5em;
  width:2.5em;
  border-radius: 100%;
}

.icono-exp.fuente1{
  background-color: #180B26;
  height: 2.5em;
  width:2.5em;
  border-radius: 100%;
  border: .5px solid #F4EFEF;
}

.icono-exp.pintura1{
    background-color: #8B3E34;
    height: 2.5em;
    width:2.5em;
    border-radius: 100%;
}

h5.descubrir-leyenda{
  margin-left: 14px;
  margin-top: 5px;
}
/* Tooltip container */
.tooltip {
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 340px;
  background-color: black;
  color: #F4EFEF;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  padding: 1.2em;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1000;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  cursor: pointer;
}

.tooltip .tooltiptext.down{
  top: 100%;
  left: 50%;
  margin-left: -170px; /* Use half of the width (120/2 = 60), to center the tooltip */
}


.tooltip .tooltiptext.right{
  top: -5px;
  left: 105%;
}


.tooltip .tooltiptext.left{
  top: -5px;
   right: 105%;

}

.tooltip .tooltiptext.up{
  bottom: 100%;
    left: 50%;
  margin-left: -170px; /* Use half of the width (120/2 = 60), to center the tooltip */
}
.tooltip .tooltiptext.down::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.descubrir-btn.tooltip:hover{
  cursor:pointer;
}

.tooltiptext .tooltip-title{
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  text-align: center;
  font-weight: 800;
  margin: .2em auto;
  text-transform: uppercase;

}

.tooltiptext .tooltip-explain{
  font-family: 'Lora', serif;
  font-size: .9em;
  line-height: normal;
  text-align: left;
}
