<!-- Inicio Footer -->
    <div class="accordion bottom" id="accordionExample">
      <div class="card foot-menu">
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <div class="row footer-list">
              <div class="col-md-12 col-xs-12">
                <div class="foot-capitulos">
                <a href="/historia" class="foot-link principal">Historia de un mapa</a><br />
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                      <a href="#" class="foot-link secundario capitulos"><img class="foot-icon" src="/assets/img/cap1.png" /><span class="foot-title-cap"> Cap. 1: Una pintura de la Sabana</span></a><br />
                      <a href="#" class="foot-link terciario">¿Para qué se dibujó este mapa?</a><br />
                      <a href="#" class="foot-link terciario">¿Dónde es el mapa?</a><br />
                      <a href="#" class="foot-link terciario">¿Es un mapa o una pintura?</a><br />
                      <a href="#" class="foot-link terciario">¿Quiénes eran los dueños de este terreno?</a><br />
                    </div>

                    <div class="col-md-3 col-xs-6">
                      <a href="#" class="foot-link secundario capitulos"><img class="foot-icon" src="/assets/img/cap2.png" /> <span class="foot-title-cap"> Cap. 2: Pueblos para los indios</span></a><br />
                      <a href="#" class="foot-link terciario">¿Por qué se llamó “indios” a los muiscas?</a><br />
                      <a href="#" class="foot-link terciario">¿Por qué se ven pueblos en el mapa?</a><br />
                      <a href="#" class="foot-link terciario">¿Desde cuándo existen pueblos en la sabana?</a><br />
                      <a href="#" class="foot-link terciario">¿Cómo vivían los Muiscas antes de la llegada de los españoles?</a><br />
                      <a href="#" class="foot-link terciario">¿Por qué salen en el mapa un sitio que se llama Bogotá y otro que se llama Santa Fe?</a><br />
                    </div>

                    <div class="col-md-3 col-xs-6">
                      <a href="#" class="foot-link secundario capitulos"><img class="foot-icon" src="/assets/img/cap3.png" /><span class="foot-title-cap">  Cap. 3: De terrazas a pastizales</span></a><br />
                      <a href="#" class="foot-link terciario">¿Había cerdos, vacas, gallinas y burros en la sabana de Bogotá antes de que llegaran los españoles?</a><br />
                      <a href="#" class="foot-link terciario">¿Cómo cultivaban los Muiscas en la Sabana de Bogotá?</a><br />
                      <a href="#" class="foot-link terciario">¿La llegada de ganado afectó la agricultura indígena?	</a><br />
                    </div>

                    <div class="col-md-3 col-xs-6">
                      <a href="#" class="foot-link secundario capitulos"><img class="foot-icon" src="/assets/img/cap-4.png" /><span class="foot-title-cap">  Cap. 4: Un paisaje dividido</span></a><br />
                      <a href="#" class="foot-link terciario">¿Qué eran los resguardos?</a><br />
                      <a href="#" class="foot-link terciario">¿Podían los indígenas trabajar donde querían?</a><br />
                      <a href="#" class="foot-link terciario">¿Por qué es éste un paisaje dividido?</a><br />
                      <a href="#" class="foot-link terciario">¿Qué pasó con los pueblos y los resguardos?</a><br />
                    </div>
                </div>
              </div>
              </div>
              <div class="col-md-12 col-xs-12">
                <div class="row foot-explorar">
                    <div class="col-md-3 col-xs-12">
                      <a href="#" class="foot-link principal">Explorar</a><br />
                      <div class="row">
                          <div class="col-md-6">
                            <a href="#" class="foot-link terciario">Descubrir</a><br />
                            <a href="#" class="foot-link terciario">Ubicación actual</a><br />
                          </div>
                          <div class="col-md-6">
                            <a href="#" class="foot-link terciario">Lupa</a><br />
                            <a href="#" class="foot-link terciario">Imagen satelital</a><br />
                          </div>
                      </div>
                    </div>
              <div class="col-md-3 col-xs-12">
                <a href="#" class="foot-link principal explorar">Coleccion de fuentes</a><br />
                </div>

                <div class="col-md-3 col-xs-12">
                  <a href="#" class="foot-link principal explorar">Para profesores</a><br />
                  </div>

                  <div class="col-md-3 col-xs-12">
                      <a href="#" class="foot-link principal explorar">Acerca de este proyecto</a><br />
                    </div>
                </div>
              </div>
            </div>
            <div class="row credits">

              <div class="col-md-4 col-xs-6">
                <h6><b>Investigación</b></h6>
                <h6>Santiago Muñoz Arbeláez</h6>
              </div>
              <div class="col-md-4 col-xs-6">
                <h6><b>Asistencia de investigación</b></h6>
                <h6>María Alejandra Orduz</h6>
              </div>
              <div class="col-md-4 col-xs-6">
                <h6><b>Diseño y desarrollo</b></h6>
                <h6>Adelaida Ávila C.</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="card-header" id="headingOne">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-chevron-compact-up text-triangle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M7.776 5.553a.5.5 0 0 1 .448 0l6 3a.5.5 0 1 1-.448.894L8 6.56 2.224 9.447a.5.5 0 1 1-.448-.894l6-3z"/>
              </svg>
            </button>
        </div>
      </div>
    </div>
<!-- Fin footer -->
