<!---<link rel='stylesheet' href='/assets/css/custom/header/style.css'>--->

<nav class="navbar menu fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
  <!-- <img class="casita" src="/desarrollo/assets/img/casita.png" /> -->
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-text" href="#">Paisajes Coloniales</div>

  <div class="collapse navbar-collapse" id="navbarText">
    <div class="navbar-nav mr-auto">

        <a class="nav-link principal" href="/desarrollo/index.html">Inicio <span class="sr-only">(current)</span></a>

        <a class="nav-link principal" href="/desarrollo/historia">Historia de una pintura</a>

        <a class="nav-link principal" href="/desarrollo/explora">Explorar el mapa</a>

        <a class="nav-link principal" href="/desarrollo/coleccion">Colección de fuentes</a>

        <a class="nav-link secundario" href="/desarrollo/profesores">Para profesores</a>

        <a class="nav-link secundario" href="/desarrollo/acerca">Acerca de este proyecto</a>

    </div>

  </div>
</nav>
