
.bg-img h1{
  color: #F4EFEF;
  font-size: 5.8em;
  letter-spacing: .3rem;
  font-weight: 800;
  max-width: 100%;
  padding-bottom: 1%;
}

.bg-img h4{
   color: #739CBF;
   margin-top: -1.5%;
   font-size: 1.5em;
   float: right;
}

.title{
  position: absolute;
  top: 15%;
  right: 5%;
  left: 5%;
  max-width: fit-content;
  margin: auto;
}

.intro{
  margin: auto;
  display: block;
  vertical-align: middle;
  max-width: 80%;
}
.bg-img h3{
  text-align: center;
  color: #F4EFEF;
  font-weight: 600;
  font-size: 1.25em;
}
img.mapa-home{
  max-width: 85%;
  padding-bottom: 1em;
  padding-top: 1em;
}

a.enter{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
    color: #F4EFEF;
}

.btn.btn-home{
  text-align: center;
  width: 280px;
margin-top: 5%;
line-height: 1.2;
display: block;
margin-left: auto;
margin-right: auto;
font-size: 1em!important;
}

.botones{
  vertical-align: middle;
  margin-top: 10%;
}
.btn.btn-home .call{
  text-transform: uppercase;
  background-color: #739CBF;
  color: #180B26;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 1.5em;
  border-radius: 6px;
  padding: .3em;
}

.btn.btn-home .call:hover{
  cursor: pointer;
  color: #739CBF;
  background-color: #180B26;
  border: solid 1px #739CBF;
}
.btn.btn-home .explain{
  color: #739CBF;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
    font-size: 1em;
}

.material-adicional{
  margin-top: 30%;
}

.adicional{
    color: #739CBF;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1em;
    max-width: 75%;
    text-align: left;
  margin: 10% auto;
}
a.link-adicional{
  text-transform: uppercase;
  text-decoration: underline;
  font-weight: 700;
  color: #739CBF;
}

a.link-adicional:hover{
  color: #F4EFEF;
}

@media screen and (max-width: 1200px) {
   .bg-img h1{
     font-size: 5em;
   }
   .bg-img h4{
     font-size: 1.3em;
   }
 }

 @media screen and (max-width: 1081px) {
    .bg-img h1{
      font-size: 4em;
    }
    .bg-img h4{
      font-size: 1.1em;
    }
  }


  @media screen and (max-width: 885px) {
     .bg-img h1{
       font-size: 3.2em;
     }
     .bg-img h3{
       font-size: 1em!important;
     }
     .btn.btn-home,.adicional{
       font-size: .9em;
     }
   }
  @media screen and (max-width: 767.9px){

    .bg-img h4{
      font-size: 1em;
      float: none;
    }

   .material-adicional {
       margin-top: 5%;
   }

   .adicional{
     max-width: 100%;
     margin: 2% auto;
   }

   .btn.btn-home{
     display: inline-block;
         width: auto;
   }

   .btn.btn-home .call{
     font-size: 1.25em;
   }
   .btn.btn-home .explain{
     font-size: .9em;
   }

   .botones {
    margin-top: 7%;
    }

    img.mapa-home {
    max-width: 100%;
 }
 }

 @media screen and (max-width: 575.9px) {
    .bg-img h1{
      font-size: 3em;
      letter-spacing: .1rem;
    }

    .bg-img h4 {
    font-size: .9em;
    text-align: right;
  }
  .bg-img h3{
      font-size: .8em!important;
    }

  .intro{
    max-width: 90%;
    top: 50%;
    position: absolute;
    vertical-align: unset
  }

  .btn.btn-home,.adicional{
    font-size: .8em;
  }
  }

  @media screen and (max-width: 325px) {
     .bg-img h1{
       font-size: 2.7em;
     }
   }
