---
---
@import "../../bootstrap/scss/bootstrap";
@import "wax";
@import "../../assets/css/custom/capitulos/right-modal.css";
@import "../../assets/css/custom/capitulos/scroll.css";
@import "../../assets/css/custom/explorar/style.css";
@import "../../assets/css/custom/footer/style.css";
@import "../../assets/css/custom/header/style.css";
@import "../../assets/css/custom//home/style.css";
@import "../../assets/css/custom/profesores/style.css";
@import "../../assets/css/custom/about.css";
@import "../../assets/css/custom/medias.css";

h1{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  text-align: center;
}

h2{
  font-family: 'Lora', serif;
  font-weight: 800;
  font-size: 2.2em;
  letter-spacing: 1.5px;
}

h3{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

h4{
  font-family: 'Lora', serif;
  font-weight: 600;
}

h5{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  letter-spacing: .6px;
}

h6{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: .8em;
}

p{
  font-size: 18px;
  font-family: 'Lora', serif;
  font-weight: 300;
}

li{
  font-size: 18px;
  font-family: 'Lora', serif;
  font-weight: 300;
  padding-top: 2%;
}
p.piedefoto{
  font-size: .8em !important;
  font-family: 'Raleway', sans-serif!important;
  font-weight: 400!important;
  padding-top: 1%;
  line-height: 1.1;
  max-width: 600px;
}
p.piedefoto.centro{
  margin: auto;
}

a{
  color: #739CBF;
}
img{
  width: 100%;
}
b, strong {
    font-weight: 600;
}

.carousel-indicators li {
    height: .25px!important;
    border-bottom: 0 solid transparent!important;
}

.row{
  width: 100%;
}

.bg-azul{
  background-color: #739CBF;
  color: #180B26;
}

.bg-oscuro{
  background-color: #180B26;
  color: #F4EFEF;
  padding-bottom: 5%;
  position: relative;
}

.bg-crema{
  background-color: #F4EFEF;
  color: #180B26;
  position: relative;
}

.bg-img{
  background-image: url("/assets/img/mapa2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 120% auto;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 0;
  bottom: 0;
}

.bg-img .full-container{
  width: 100%;
  background-color: rgba(24, 11, 38, 0.7);
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

 @media screen and (max-width: 767.9px){
   h2{
     padding-top: 6%;
   }
 }
 @media screen and (max-width: 575.9px) {
   h2{
     font-size: 2em!important;
    letter-spacing: 1.2px!important;
    padding-top: 12%;
    line-height: 1;
   }
   h3{
       font-size: 1.5rem!important;
   }
   h4{
     font-size: 1.25rem!important;
   }

   h5{
    font-size: 1.1rem!important;
}
 }

 @media screen and (max-width: 340px){
h2 {
    font-size: 1.9em !important;
   }
   h5 {
    font-size: 1rem !important;
}
 h4{
     font-size: 1.1rem !important;
 }
 }
