
.contendor-acerca{
  max-width: 800px;
  padding: 2em 1.3em;
  margin: auto;
  display: block;
  text-align: left;
}

.title-about {
  padding: 5% 2% 2%;
}

h1.titulo-seccion{
  font-family: 'Lora', serif;
  font-weight: 800;
  font-size: 2.8em;
  padding: 4% 0 0 4%;
  letter-spacing: 1.2px;
  text-align: left;
}

p.cuerpo{
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

span.sangria-izq{
  margin-left: 2%;
}

img.logo{
  max-width: 200px;
  padding-top: 5%;
}

img.logo2{
  max-width: 400px;
  padding-top: 5%;
}

 @media screen and (max-width: 767.9px){
p.cuerpo{
  font-size: 1.1em!important;
}

   }
